@import url("https://fonta.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display==wrap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #030303;
  color: #f1eded;
}
#logo{
    width:100%;
    height:100vh;
}
#A{
    font-size:50px;
}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color:#f1eded;
    text-decoration:none;
    font-size:18px;
    position:relative;
}
nav ul li a::after{
       content:'';
       width:0;
       height:3px;
       background:yellow;
       position:absolute;
       left:0;
       bottom:-6px;
       transition:0.58;
}
nav ul li a:hover::after{
    width:100%;
}
.text{
    margin-top:15%;
    font-size:50px;
    padding:50px 10%;
}
.text h1 span{
    color:pink;
}
/*.........about sectionn.......*/
#about{
    padding:80px 0;
    color:#f1eded;
}
.row{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.col-1 img{
    width:100%;
    border-radius:15px;
}
.col-2{
    flex-basis:60%;
}
.B{
    font-size:60px;
    font-weight:600;
    color:azure;
}
.c{
    display:flex;
    margin:20px 0 40px;
}
.D{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.D::after{
    content:'';
    width:0;
    height:3px;
    background:lightgreen;
    position:absolute;
    left:0;
    bottom:-8px;
    transition: 0.58;
}
.D.active-link::after{
    width:50%;
}
.F ul li{
    list-style:none;
    margin:10px 0;
}
.F ul li span{
    color:lightpink;
    font-size:14px;
}
/*........services......*/
#services{
    padding:30px 0;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
    background:#030303;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-radius:10px;
    transition:background-color 0.5s,transform 0.5s;
}
.services-list div i{
    font-size:50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px;
}
.services-list div a{
    text-decoration:none;
    color:blueviolet;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.services-list div::hover{
    background:orangered;
    transform:translateY(-10px);
}
/*.....portfolio......*/
#portfolio{
padding:50px 0;
}
.work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.work{
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.work img{
    width: 50%;
    border-radius:10px;
    display:block;
    transition:transform 0.5s;
}

.work img asd{
    width: 20%;
}

.layer{
    width:100%;
    height:0;
    background:linear-gradient(black(0,0,0,0.6),yellow);
    border-radius:10px;
    position:absolute;
    lefft:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
    transition:height 0.5s;
}
.layer h3{
    font-weight:500;
    margin-bottom:20px
}
.layer a{
margin-top:20px;
color:chocolate;
text-decoration:none;
font-size:18px;
line-height:60px;
background:orange;
width:60px;
height:60px;
border-radius:50%;
text-align:center;
}
.work:hover img{
    transform:scale(1.1);
}
.work:hover.layer{
    height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid pink;
    paddding:14px 50px;
    border-radius:6px;
    text-decoration:none;
    color:aliceblue;
    transition:background-color 0.5s;
}
.btn:hover{
    background:red;
}
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
color:burlywood;
margin-right:15px;
font-size:25px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right:15px;
    color:brown;
    display:inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:pink;
    transform:translateY(-5px);
}
.btn.btn2{
    display:inline-block;
    background:darkred;
    padding: 5px 5px;
    display: flex;
}
.contact-right{
    width:100%;
}
form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    backgorund:blueviolet;
    padding:15px;
    margin:15px 0;
    color:cyan;
    font-size:18px;
    border-radius:6px;
}
form btn2{
    padding:10px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px;
    background:brown;
    font-weight:300;
    margin-top:20px;
}
.copyright i{
color:purple
}